@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
}

body {
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    overflow: hidden auto;
    font-family: Poppins;
    font-size: 1.125rem;
}

.container {
    height: 350px;
    width: min(400px, 100% - 4rem);
    margin-inline: auto;
    border: solid 1px transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    box-shadow: 0 0 15px 3px #0003;
    background-color: #eee;
    padding: 1rem;
    box-sizing: border-box;
}

.banner {
    position: relative;
    left: -1rem;
    top: -10px;
    height: 40px;
    width: calc(100% - 2.5rem);
    padding-left: 2rem;
    background-color: red;
    color: white;
    font-size: 1.25rem;
    text-shadow: 1px 1.5px 3px #007;
    box-shadow: 2px 2px 4px #0006;
    font-variant: small-caps;
}

input {
    color: black;
    outline: transparent;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px black;
    padding: 2px;
    width: 170px;
    height: 25px;
    text-align: center;
    font-size: 25px;
    transition: all 80ms ease-out;
}

input:active, input:ficus {
    border-bottom: solid 2px;
}

.container p {
    font-family: monospace;
    color: red;
    text-align: center;
}

button {
    border: solid 1px transparent;
    padding: .1rem;
    border-radius: 0px;
    color: white;
    background-color: red;
    cursor: pointer;
    font-family: cursive;
    font-weight: 600;
    font-size: 1.3rem;
}

button:hover {
    cursor: pointer;
}

#footer {
    font-family: monospace;
    font-size: 9px;
}

#footer span {
    color: red;
}

.shake {
    position: relative;
    animation: shake 2s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(5px);
    }
    40% {
        transform: translateX(-5px);
    }
    60% {
        transform: translateX(5px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}
